<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @itemtype.name %>
</p>

<p>
  <strong>Limitdistance:</strong>
  <%= @itemtype.limitdistance %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @itemtype.memo %>
</p>

<%= link_to 'Edit', edit_itemtype_path(@itemtype) %> |
<%= link_to 'Back', itemtypes_path %>
