<p id="notice"><%= notice %></p>

<p>
  <strong>Itemtype:</strong>
  <%= @item.itemtype %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @item.nickname %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @item.distance %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @item.memo %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
